<section class="content-header">
  <h1>
    Calendar
    <small>Version 1.0.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> Home</li>
    <li><a href="#" ui-sref="dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
    <li><a href="#" ui-sref="dashboard.calendar"><i class="fa fa-calendar"></i> Calendar</a></li>
    <li class="active" ><i class="fa fa-file-text-o"></i> Event</li>
  </ol>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add / Edit Event</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="patientName">Patient Name</label>
                                <input type="text" class="form-control" id="patientName" placeholder="Enter Patient Name" ng-model="modelDataSrc.patientName">
                            </div>
                            <div class="form-group">
                                <label for="mobile">Mobile</label>
                                <input type="text" class="form-control" id="mobile" max-length="10" placeholder="Enter mobile number" ng-model="modelDataSrc.mobileNumber">
                            </div>
                            <div class="form-group">
                                <label>Note</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="modelDataSrc.note"></textarea>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <div class="form-group">
                                <label>Doctor</label>
                                <select class="form-control select2" style="width: 100%;">
                                  <option selected="selected">Dr.Manoranjan Reddy</option>
                                  <option>Dr.Harish</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="refFrom">Ref. from</label>
                                <input type="text" class="form-control" id="refFrom" placeholder="Enter Ref Name" ng-model="modelDataSrc.refName">
                            </div>
                            <div class="form-group">
                                <label>Date:</label>
                                <div class="input-group date" set-date-picker-dir set-id="datepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="datepicker">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Start Time:</label>
                                <div class="input-group bootstrap-timepicker timepicker" set-date-time-picker-dir set-id="datetimepicker1">
                                  <input id="datetimepicker1" type="text" class="form-control input-small">
                                  <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-time"></i>
                                  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>End Time:</label>
                                <div class="input-group bootstrap-timepicker timepicker" set-date-time-picker-dir set-id="datetimepicker2">
                                  <input id="datetimepicker2" type="text" class="form-control input-small">
                                  <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-time"></i>
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="btn-group">
                    <a type="button" class="btn btn-default" href="#" ui-sref="dashboard.calendar">Cancel</a>
                    <button type="button" class="btn btn-info pull-right">Save</button>
                </div>
            </div>
        </form>
    </div>
</section>