<div class="wrapper">
    <div ng-include="'./modules/templates/header.html'"></div>
    <div ng-include="'./modules/templates/aside.html'"></div>
    <div class="content-wrapper"  ui-view>
        <section class="content-header">
            <h1>
                Dashboard
                <small>Version 1.0.0</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i> Home</li>
                <li class="active"><i class="fa fa-tachometer"></i> Dashboard</li>
            </ol>
        </section>
        <section class="content">
            <!-- /.box -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Doctors</h3>
                            <div class="box-tools pull-right">
                                <span class="label label-danger">2 Doctors</span>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                <li>
                                    <a href="#" ui-sref="dashboard.calendar">
                                        <img src="./lib/AdminLTE/dist/img/user1-128x128.jpg" alt="User Image">
                                        <a class="users-list-name" href="#">Dr.Manoranjan</a>
                                        <span class="users-list-date">Today</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ui-sref="dashboard.calendar">
                                        <img src="./lib/AdminLTE/dist/img/user8-128x128.jpg" alt="User Image">
                                        <a class="users-list-name" href="#">Dr.Harish</a>
                                        <span class="users-list-date">Today</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div ng-include="'./modules/templates/footer.html'"></div>
</div>